<div class="flex-container">
  <form [formGroup]="fg">
    <mat-form-field class="flex-item flex-item-1">
      <mat-label>Name of the Contractor</mat-label>
      <input formControlName="contractor_name" matInput placeholder="Ex. bala" value="Sushi">
    </mat-form-field>

    <mat-form-field class="flex-item flex-item-2">
      <mat-label>Work Order No.</mat-label>
      <input formControlName="wo_number" matInput placeholder="Ex. Pizza" value="Sushi">
    </mat-form-field>

    <mat-form-field class="flex-item flex-item-3">
      <mat-label>Work Order Date</mat-label>
      <input [matDatepicker]="picker" formControlName="wo_date" matInput>
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle [for]="picker" matIconSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="flex-item flex-item-4">
      <mat-label>Work Description</mat-label>
      <textarea formControlName="wo_desc" matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>

    <div class="flex-item flex-item-5">
      <button (click)="saveOrders()" mat-stroked-button type="button">Save Orders</button>
    </div>
  </form>
</div>
